<% layout('admin/layout') -%>


<div class='row'>
	<div class='col-sm-6'>
		<h3>Add artist</h3>

		<input type='text' placeholder='Name' class='form-control'>
	</div>
	<div class='col-sm-6'>
		<h3>Add event</h3>

		<input type='text' placeholder='Title' class='form-control'>
	</div>
</div>

