<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="author" content="Connor Leech">
	<title>ShowJunkie - Admin</title>

	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/rdash-ui/dist/css/rdash.min.css">
	<style>
		.input-group-addon {
			cursor: pointer;
		}
	</style>

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  	<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

	<script type="text/javascript" src='admin_static/js/app.js'></script>
</head>
<body ng-app='ShowJunkie.admin'>
	<div class='container' ng-controller='AdminCtrl'>
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-class="{ active: isActive('artists') }">
		  	<a ui-sref="artists">Artists</a>
		  </li>
		  <li role="presentation" ng-class="{ active: isActive('addArtist') }">
		  	<a ui-sref="addArtist">Add artist</a>
		  </li>
		  <li role="presentation" ng-class="{ active: isActive('shows') }">
		  	<a ui-sref="shows">Shows</a>
		  </li>
		  <li role="presentation" ng-class="{ active: isActive('addShow') }">
		  	<a ui-sref="addShow">Add show</a>
		  </li>
		  <li role="presentation" ng-class="{ active: isActive('venues') }">
		  	<a ui-sref="venues">Venues</a>
		  </li>
		  <li role="presentation" ng-class="{ active: isActive('addVenue') }">
		  	<a ui-sref="addVenue">Add venue</a>
		  </li>
		</ul>

		<!-- angular templates render here -->
		<ui-view></ui-view>
	</div>
</body>
</html>