<% layout('layout') -%>

<div class='col-md-4 col-md-offset-4'>
	<!-- <a href="/auth/spotify" class="btn btn-success btn-lg btn-block">
		<i class="fa fa-spotify"></i> 
		Login with Spotify
	</a>
	<a href="/auth/facebook" class="btn btn-primary btn-lg btn-block">
		<i class="fa fa-facebook-square"></i> 
		Login with Facebook
	</a> -->
	<a href='/signup' class='btn btn-warning btn-lg btn-block'>
		Signup with email
	</a>
	<a href='/login' class='btn btn-info btn-lg btn-block'>
		Login with email
	</a>
</div>