
<div class='text-center row'>
	<h1>Login</h1>
	
	<form class="form-horizontal" ng-submit="login()">
		<p ng-show='error' style='color:red;'>{{ error }}</p>

		<label class="control-label">Email</label>
		<input type='email' name='email' id='email' ng-model='user.email' placeholder='email' class="form-control">
		<br>
		<label class="control-label">Password</label>
		<input type='password' ng-model='user.password' placeholder='password' class="form-control">
		<br>
		<a ui-sref='resetPassword'>Forgot password?</a> or <a href ui-sref="register">Create an account</a>
		<br>
		<br>
		<button type='submit' class="button button-block button-calm">Login</button>
	</form>
</div>
