<!-- Filter Search -->
<input type="text" class='form-control' placeholder="search Artist/Genre" ng-model="searchText">

<ul class='list-group'>
	<li class="list-group-item" ng-repeat="artist in artists | orderBy:['name'] | filter:searchText | limitTo: feedLimit">
		<img ng-src="{{artist.images[artist.images.length-1].url}}">
		{{artist.name}}
		<div class='btn pull-right' 
			ng-class='{"btn-info": followingArtists[artist.name], "btn-default":!followingArtists[artist.name]}' 
			ng-click="updateFollowing(artist.name, $index)">
			<i ng-if='!followingArtists[artist.name]' class="fa fa-user-plus"></i>
			{{followingArtists[artist.name] && ("Following") || ("Follow")}}
		</div>		
	</li>
</ul>
<div class='row text-center'>
	<div class="btn btn-lg btn-primary" ng-if='artists.length > feedLimit'>
		<div class="item" id="showMore"
			ng-click="increaseFeed()">Show More...</div>
	</div>
</div>