
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="LoginCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"><a ui-sref="home">Artists</a></span>
				<span class="icon-bar"><a ui-sref="notified">Notifications</a></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref='home'>ShowJunkie</a>
		</div>
		<div ng-if='getCurrentUser()'class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class='nav navbar-nav'>
				<li ui-sref-active='active'><a ui-sref="home">Follow artists</a></li>
				<li ui-sref-active='active'><a ui-sref="notified">Upcoming shows</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<!-- Logged in user button -->
					<div class="btn-group" dropdown is-open="status.isopen" style='margin-top:5px; margin-right:8px;'>
						<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
							{{getCurrentUser().password.email}} 
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a ui-sref="settings">Settings</a></li>
							<li class="divider"></li>
							<li><a href ng-click="logout()">Logout</a></li>
						</ul>
					</div>
			    </li>
			</ul>
		</div>
	</div>
</nav>


