
<!-- Search -->
<input type="text" class='form-control' placeholder="search events" ng-model="showSearchText">

<div class='row' style='margin-top:25px;'>
	<div ng-repeat="event in myEvents | filter:showSearchText | limitTo: feedLimit" class="col-sm-4 portfolio-item">
	    <div style='max-height:200px;overflow:hidden;'>
	        <img class="img-responsive" ng-src="{{event.artists[0].image_url}}" alt="">
	    </div>
	    <h3>{{ event.title }}</h3>
	    <p>Date: {{ event.datetime | date:shortDate }}</p>
	    <p>Location: {{event.venue.name}}</p>

	    <a ng-href='{{event.facebook_rsvp_url}}'>Facebook page</a>
	    <a href ng-click="learnMore('{{event.ticket_url}}')">Buy tickets</a>
	</div>
</div>
   
<div class='row text-center'>
	<div class="btn btn-lg btn-primary" ng-if='myEvents.length > feedLimit'>
		<div class="item" id="showMore"
			ng-click="increaseFeed()">Show More...</div>
	</div>
</div>
