<div class="list" style="margin-top:43px;">

    <div>
    	<h3>change password</h3>

        <label>Old password</label>
        <input type="password" class='form-control' placeholder="temporary password" ng-model='oldPassword'>

        <label>New password</label>
        <input type="password" class='form-control' placeholder="temporary password" ng-model='newPassword'>

        <button class="btn btn-primary" ng-click='changePassword(oldPassword, newPassword)'>
    			Submit
    	</button>
    </div>
</div>